
.rotate-0{
    transform: rotate(0);
}
.rotate-90{
    transform: rotate(90deg);
}
.rotate-180{
    transform: rotate(180deg);
}
.rotate-270{
    transform: rotate(270deg);
}
/* without rotation */
@for $y from 0 to 10 {
    @for $x from 0 to 10 {
        .place-$(x)-$(y) {
        transform: translateX($(x)00%) translateY($(y)00%);
    }
    }
}
